<div class="row" id="datos">
    <div class="col-2">
        <img src="../../../assets/FotoPerfil.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-8">
        <h1>Patricio Oubiña</h1>
        <p>Fullstack Developer Jr.</p>
    </div>
</div>
<div class="row" id="acercade">
    <div class="col-8">
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, sapiente, magnam in qui, exercitationem dolor
            commodi corrupti quasi voluptates laudantium quidem distinctio! In, minus voluptate dolore quisquam maxime
            cupiditate mollitia?</p>
    </div>
</div>