
#datos{
    padding: 30px;
    background-color: #C4A484;
    border-color: black;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-width: thick;
    margin: 0px 10px 10px 10px;
}

.nombre{
    padding: 10px;
    text-align: center;
}

.acercade{
    padding: 10px;
}


#fotoperfil{
    border-radius: 100%;
    position: absolute;
    width: 13%;
    top: 680px;
    left: 4%;
}
