<div class="row" id="datos">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img *ngIf="user$ | async as user, else editFotoPerfil" type="button" data-bs-toggle="modal"
      [src]="urlImagen + personasList[0].fotoDePerfil" (click)="onEdit(personasList[0])"
      [attr.data-bs-target]="'#editarPersoImgModal-' + personasList[0].id" id="fotoperfil">
    <ng-template #editFotoPerfil>
      <img [src]="urlImagen + personasList[0].fotoDePerfil" id="fotoperfil">
    </ng-template>

    <!-- Editar Imagen Modal -->

    <div class="modal fade" id="editarPersoImgModal-{{personasList[0].id}}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editPersoImgModalLabel">Editar imagen</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <app-file-uploader></app-file-uploader>
                <label for="personaHabilidad" class="col-form-label">Ingrese nombre completo del archivo subido (Ej.
                  "imagen.jpg")</label>
                <input type="text" class="form-control" placeholder="Ingrese nombre completo del archivo subido"
                  name="personaFotoDePerfil" [(ngModel)]="personasList[0].fotoDePerfil" id="personaFotoDePerfil">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="editPerso(personasList[0])"
              data-bs-dismiss="modal">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="nombre col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <h1>{{personasList[0].nombre}}</h1>
    <h4>{{personasList[0].titulo}}</h4>
  </div>
  <div class="acercade col-xs-11 col-sm-6 col-md-6 col-lg-6">
    <h2>Acerca de mí</h2>
    <p>{{personasList[0].acercaDe}}</p>
  </div>
  <div class="icons col-xs-1 col-sm-1 col-md-1 col-lg-1 ">
    <svg *ngIf="user$ | async as user" (click)="onEdit(personasList[0])" type="button" data-bs-toggle="modal"
      [attr.data-bs-target]="'#editarPersoModal-' + personasList[0].id" xmlns="http://www.w3.org/2000/svg" width="16"
      height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
      <path
        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
    </svg>

    <!-- Editar Persona Modal -->

    <div class="modal fade" id="editarPersoModal-{{personasList[0].id}}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editPersoModalLabel">Editar Habilidad</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="personaHabilidad" class="col-form-label">Habilidad</label>
                <input type="text" class="form-control" placeholder="Ingrese habilidad" name="personaNombre"
                  [(ngModel)]="personasList[0].nombre" id="personaNombre">
              </div>
              <div class="form-group">
                <label for="personaTitulo" class="col-form-label">Título</label>
                <input type="text" class="form-control" placeholder="Ingrese título" name="personaTitulo"
                  [(ngModel)]="personasList[0].titulo" id="personaTitulo">
              </div>
              <div class="form-group">
                <label for="personaAcercaDe" class="col-form-label">Título</label>
                <input type="text" class="form-control" placeholder="Ingrese información personal"
                  name="personaAcercaDe" [(ngModel)]="personasList[0].acercaDe" id="personaAcercaDe">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="editPerso(personasList[0])"
              data-bs-dismiss="modal">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>