<div class="modal fade" id="expModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="expModalLabel">{{titulo}}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="experienciaEmpresa" class="col-form-label">Empresa</label>
                        <input type="text" class="form-control" placeholder="Ingrese nombre de la empresa"
                            [(ngModel)]="experiencia.empresa" id="experienciaEmpresa">
                    </div>
                    <div class="form-group">
                        <label for="experienciaPeriodo" class="col-form-label">Periodo</label>
                        <input type="text" class="form-control" placeholder="Ingrese período de tiempo"
                        [(ngModel)]="experiencia.periodo" id="experienciaPeriodo">
                    </div>
                    <div class="form-group">
                        <label for="experienciaDescripcion" class="col-form-label">Descripción</label>
                        <input type="text" class="form-control" placeholder="Ingrese descripción del puesto"
                        [(ngModel)]="experiencia.puesto" id="experienciaDescripcion">
                    </div>
                    <div class="form-group">
                        <label for="experienciaLogo" class="col-form-label">Logo</label>
                        <input type="text" class="form-control" placeholder="Ingrese URL del logo" 
                        [(ngModel)]="experiencia.logoEmpresa" id="experienciaLogo">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="create()">Guardar</button>
            </div>
        </div>
    </div>