<div class="modal fade" id="loginFormModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-bs-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="loginForm">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Ingrese mail del usuario"
                        [ngClass]="{'is-invalid': Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}"    formControlName="email" id="userMail">
                        <div *ngIf="Email?.errors && Email?.touched">
                            <p *ngIf="Email?.hasError('required')" class="text-danger">Se requiere email</p>
                            <p *ngIf="Email?.hasError('email')" class="text-danger">El mail debe tener un formato válido
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-form-label">Contraseña</label>
                        <input type="password" class="form-control" placeholder="Ingrese contraseña"
                        [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}"    formControlName="password" id="userPassword">
                        <div *ngIf="Password?.errors && Password?.touched">
                            <p *ngIf="Password?.hasError('required')" class="text-danger">Se requiere contraseña</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-bs-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="onLogin()" data-bs-dismiss="modal">Login</button>
            </div>
        </div>
    </div>
</div>