<div class="modal fade" id="loginFormModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-bs-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="loginForm">
                    <div class="form-group">
                        <label for="email" class="col-form-label">Usuario</label>
                        <input type="email" class="form-control" placeholder="Ingrese mail del usuario"
                            formControlName="email" id="userMail">
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-form-label">Contraseña</label>
                        <input type="password" class="form-control" placeholder="Ingrese contraseña"
                            formControlName="password" id="userPassword">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-bs-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="onLogin()" data-bs-dismiss="modal">Login</button>
            </div>
        </div>
    </div>
</div>