<div class="row">
    <div class="container">
        <div class="logoap">
            <img src="../../../assets/LogoArgProg.png" id="logoAP">
        </div>
        <div class="iconos">
            <a href="" ><img src="../../../assets/LogoInstagram.png" ></a>
            <a href="" ><img src="../../../assets/LogoFB.png" ></a>
            <a href="" ><img src="../../../assets/LogoLinkedin.png" ></a>
            <button type="button" class="btn btn-outline-dark" >LOGIN</button>
        </div>
    </div>

</div>



