<div class="row">
    <h1>Proyectos</h1>
    <div>
        <div class="col-8" id="datos">
            <h3>Proyecto x</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat blanditiis a nesciunt beatae aspernatur molestias, quod labore fuga fugit est expedita quasi quos maiores nostrum harum aut veritatis qui. Minus.</p>
        </div>
        <div class="col-3" id="imagen">
            <img src="../../../assets/LogoArgProg.png" class="img-fluid">
        </div>
    </div>
</div>