<div class="row">
    <div>
        <h1>Educación</h1>
    </div>
    <div>
        <ul>
            <li>
                <div class="empresa">
                    <img class="empresaflex" src="../../../assets/LogoGYT.jfif">
                    <div>
                        <h3 class="empresaflex">
                            UCES
                        </h3>
                        <p class="empresaflex">
                            2012 a la fecha
                        </p>
                    </div>
                </div>
                <p>
                    Carrera
                </p>
            </li>
            <li>
                <div class="empresa">
                    <img class="empresaflex" src="../../../assets/LogoGYT.jfif">
                    <div>
                        <h3 class="empresaflex">
                            Insituto
                        </h3>
                        <p class="empresaflex">
                            Fecha
                        </p>
                    </div>
                </div>
                <p>
                    Carrera
                </p>
            </li>
        </ul>
    </div>
</div>