<div class="row">
    <div>
        <h1>Educación</h1>
    </div>
    <div>
        <ul>
            <li *ngFor="let educacion of educacionList">
                <div class="empresa">
                    <img class="empresaflex" [src]="educacion.logo">
                    <div>
                        <h3 class="empresaflex">
                            {{educacion.instituto}}
                        </h3>
                        <p class="empresaflex">
                            {{educacion.periodo}}
                        </p>
                    </div>
                </div>
                <p>
                    {{educacion.carrera}}
                </p>
            </li>
        </ul>
    </div>
</div>