<div class="row">
  <div>
    <h1>Experiencia</h1>
  </div>
  <div>
    <ul>
      <li>
        <div class="empresa">
          <img class= "empresaflex" src="../../../assets/LogoGYT.jfif">
          <div><h3 class="empresaflex">
            GEDYT SA
            </h3>
            <p class="empresaflex">
              2012 a la fecha
            </p></div>
        </div>
        <p>
          Analista de contabilidad y auditoría interna
        </p>
      </li>
      <li>
        <div class="empresa">
          <img class= "empresaflex" src="../../../assets/LogoGYT.jfif">
          <div><h3 class="empresaflex">
            Dilog Oeste
            </h3>
            <p class="empresaflex">
              2008 - 2012
            </p></div>
        </div>
        <p>
          Analista de contabilidad y auditoría interna
        </p>
      </li>
    </ul>
  </div>
</div>