<div class="row">
  <div>
    <h1>Experiencia</h1>
  </div>
  <div>
    <ul>
      <li *ngFor="let experiencia of experienciaList">
        <div class="empresa">
          <img class= "empresaflex" [src]="experiencia.logo">
          <div><h3 class="empresaflex">
            {{experiencia.empresa}}
            </h3>
            <p class="empresaflex">
              {{experiencia.periodo}}
            </p></div>
        </div>
        <p>
          {{experiencia.puesto}}
        </p>
      </li>
    </ul>
  </div>
</div>