<div class="row">
    <div class="skillTitulo">
      <h1>Habillidades</h1>
      <svg type="button" data-bs-toggle="modal" data-bs-target="#crearSkillModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
      </svg>
      <div class="modal fade" id="crearSkillModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="skillsModalLabel">Agregar Habilidad</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="skillsHabilidad" class="col-form-label">Habilidad</label>
                  <input type="text" class="form-control" placeholder="Ingrese habilidad" 
                  name="skillNombre" [(ngModel)]="skill.skillNombre"
                  id="skillsHabilidad">
                </div>
                <div class="form-group">
                  <label for="skillsProgreso" class="col-form-label">Progreso</label>
                  <input type="number" class="form-control" placeholder="Ingrese progreso" 
                  name="skillProgreso" [(ngModel)]="skill.skillProgreso"
                  id="skillsProgreso">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" (click)="createSki(skill)" data-bs-dismiss="modal">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let skill of skillsList">
        <div class="item">
            <div class="grafico">
            <circle-progress 
                [showTitle]="true"
                [title]="skill.skillNombre"  
                [titleFontSize]="'35px'"
                [showUnits]="false"
                [showSubtitle]="false"
                [percent]="skill.skillProgreso"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#4882c2'"
                [innerStrokeColor]="'#e7e8ea'"
                [animation]="true"
                [animationDuration]="800"
                ></circle-progress>
            </div>
            <div class="iconsflex">
                <svg (click)="onEdit(skill)" type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#editarSkillsModal-' + skill.skillId" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                </svg>
                <div class="modal fade" id="editarSkillsModal-{{skill.skillId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="editSkillsModalLabel">Editar Habilidad</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="skillsHabilidad" class="col-form-label">Habilidad</label>
                            <input type="text" class="form-control" placeholder="Ingrese habilidad" 
                            name="skillNombre" [(ngModel)]="skill.skillNombre"
                            id="skillsHabilidad">
                          </div>
                          <div class="form-group">
                            <label for="skillsProgreso" class="col-form-label">Progreso</label>
                            <input type="number" class="form-control" placeholder="Ingrese progreso" 
                            name="skillProgreso" [(ngModel)]="skill.skillProgreso"
                            id="skillsProgreso">
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" (click)="editSki(skill)" data-bs-dismiss="modal">Guardar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <svg type="button" (click)="deleteSki(skill)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>  
            </div>
        </div>
    </div>
</div>